extends layout

block content
  h1 Hi people
  p Welcome to the #{title}
  form(name="getCats",method='post', action='/cats')
      input(type="text",name="breed" placeholder="breed")
      input(type="text",name="color" placeholder="color")
      input(type="text",name="age" placeholder="age")
      input(type="text",name="price" placeholder="price")

      input(type="submit" value="Add")

